/* Start Progress Bar */
.stu-dashboard-page .progress-bar {
  position: relative;
}

.stu-dashboard-page .progress-bar::before,
.stu-dashboard-page .progress-bar::after {
  position: absolute;
  left: var(--percentage);
  transform: translate(-50%, -60%);
  z-index: var(--z-index-2);
  /* HIDE */
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-normal);
}

.stu-dashboard-page .progress-bar:hover::before,
.stu-dashboard-page .progress-bar:hover::after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -100%);
}

.stu-dashboard-page .progress-bar::before {
  content: attr(datavalue);
  background-color: var(--black-color);
  padding: 4px 8px;
  border-radius: var(--border-radius-4);
  color: var(--white-color);
  font-size: var(--font-size-14);
  font-weight: bold;
  top: -10px;
}

.stu-dashboard-page .progress-bar::after {
  content: "";
  border: 7px solid transparent;
  border-top-color: var(--black-color);
  top: 3px;
}

.stu-dashboard-page .progress-bar .total-fees-txt {
  color: var(--gray-color);
  text-align: right;
  font-size: var(--font-size-12);
  margin-top: 10px;
}

/* End Progress Bar */
/* Start Today's Table */
.stu-today-schedule-table {
  border-spacing: 0 20px;
  text-align: center;
}

.stu-today-schedule-table tbody tr {
  background-color: var(--white-color);
  border-radius: var(--border-radius-10);
  box-shadow: var(--main-shadow);
}

.stu-today-schedule-table tbody tr td {
  padding: var(--pad-30);
}

.stu-today-schedule-table .empty-paragraph {
  text-align: left;
}

/* End Today's Table */