/* Start Today's Table */
.stu-today-schedule-table {
  border-spacing: 0 20px;
  text-align: center;
}

.stu-today-schedule-table tbody tr {
  background-color: var(--white-color);
  border-radius: var(--border-radius-10);
  box-shadow: var(--main-shadow);
}

.stu-today-schedule-table tbody tr td {
  padding: var(--pad-30);
}

.stu-today-schedule-table .empty-paragraph {
  text-align: left;
}

/* End Today's Table */