/* Start Spinner */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--primary-color);
  border-right-color: transparent;
  border-radius: var(--border-radius-circle);
  animation: spin var(--transition-normal) linear infinite;
}

/* End Spinner */
/* Start Page Loader */
.page-loader {
  background: var(--white-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--page-loader-z-index);
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.page-loader img {
  width: 180px;
}

.page-loader .loading-title {
  font-size: var(--font-size-20);
}

/* End Page Loader */
/* Start Logo */
.logo {
  width: fit-content;
  gap: 5px;
  font-size: var(--font-size-18);
  font-weight: bold;
  transition: color var(--transition-normal);
}

.logo:hover {
  color: var(--primary-color);
}

.logo img {
  width: 60px;
}

@media (max-width: 767px) {
  .logo {
    font-size: var(--font-size-14);
  }

  .logo img {
    width: 45px;
  }
}

/* End Logo */
/* Start Icon Button */
.icon-btn {
  width: 46px;
  height: 46px;
  border: var(--light-border);
  border-radius: var(--border-radius-circle);
  font-size: var(--font-size-14);
  font-weight: bold;
  transition: all var(--transition-normal);
}

.icon-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--main-shadow);
}

.icon-btn .icon {
  font-size: var(--font-size-18);
}

@media (max-width: 767px) {
  .icon-btn {
    width: 40px;
    height: 40px;
    font-size: var(--font-size-12);
  }

  .icon-btn .icon {
    font-size: var(--font-size-14);
  }
}

/* End Icon Button */
/* Start Main Button */
.main-btn {
  background-color: var(--primary-color);
  display: block;
  width: fit-content;
  padding: 10px 25px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-8);
  position: relative;
  z-index: var(--z-index-2);
  color: var(--white-color);
  font-size: var(--font-size-14);
  font-weight: bold;
  transition: all var(--transition-normal);
  overflow: hidden;
}

.main-btn:hover {
  color: var(--primary-color);
}

.main-btn::before {
  content: "";
  background-color: var(--white-color);
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--z-index--1);
  transition: all var(--transition-normal);
}

.main-btn:hover::before {
  width: 100%;
}

@media (max-width: 767px) {
  .main-btn {
    padding: 8px 15px;
    font-size: var(--font-size-12);
  }
}

/* End Main Button */
/* Start Header */
header {
  background-color: var(--white-color);
  padding: 10px 15px;
  box-shadow: var(--main-shadow);
}

header .open-sidebar-btn {
  display: none;
}

header .open-sidebar-btn .icon {
  transform: scaleX(-1);
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 991px) {
  header .open-sidebar-btn {
    display: flex;
  }
}

/* End Header */
/* Start Container */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 880px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

/* End Container */
/* Start Card */
.card {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: var(--border-radius-8);
  box-shadow: var(--main-shadow);
}

/* End Card */
/* Start Pulse Animated */
.pulse-animated {
  position: relative;
}

.pulse-animated::before,
.pulse-animated::after {
  content: "";
  background-color: inherit;
  opacity: .8;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--z-index--1);
}

.pulse-animated::before {
  --i: 0;
}

.pulse-animated::after {
  --i: 1;
}

/* End Pulse Animated */
/* Start Main Heading */
.main-heading {
  width: fit-content;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  font-size: var(--font-size-32);
}

.main-heading::after {
  content: "";
  background-image: linear-gradient(to right,
      var(--primary-color) 70%,
      var(--white-color) 70%,
      var(--white-color) 100%);
  width: 80%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width:767px) {
  .main-heading {
    font-size: var(--font-size-24);
  }
}

/* End Main Heading */
/* Start Footer */
footer {
  background-color: var(--black-color);
  color: var(--white-color);
}

footer .top {
  padding: var(--pad-40) 0;
}

footer .top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 40px;
}

footer .top .col:first-child {
  width: 270px;
}

footer .top .col:first-child>p {
  line-height: var(--main-line-height);
  margin-top: 20px;
}

footer .top .col-title {
  margin: 20px 0 30px;
}

footer .top :where(.links, .contact-info) {
  display: grid;
  gap: 10px;
}

footer .top :where(.links, .contact-info) a {
  transition: color var(--transition-normal);
}

footer .top :where(.links, .contact-info) a:hover {
  color: var(--primary-color);
}

footer .top .social-icons a {
  background-color: var(--white-color);
  width: 38px;
  height: 38px;
  border-radius: var(--border-radius-circle);
  color: var(--primary-color);
  transition: all var(--transition-normal);
}

footer .top .social-icons a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: translateY(-10px) rotate(1turn);
}

footer .bottom {
  padding: 15px 0;
  border-top: var(--light-border);
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-15);
}

@media (max-width: 992px) {
  footer .top .col {
    width: 250px;
  }
}

/* End Footer */
/* Start Input Field */
.input-field {
  position: relative;
}

.input-field input {
  display: block;
  width: 100%;
  padding: 10px;
  border: var(--light-border);
  border-radius: var(--border-radius-6);
  caret-color: var(--primary-color);
  transition: border-color var(--transition-normal);
}

.input-field input:where(:hover, :focus) {
  border-color: var(--primary-color);
}

.input-field label {
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-color);
  font-size: var(--font-size-14);
  transition: all var(--transition-normal);
}

.input-field:has(input:focus) label,
.input-field:has(input:not([value=""])) label {
  background-color: var(--white-color);
  padding: 0 7px;
  top: 0;
  font-size: var(--font-size-12);
}

/* End Input Field */
/* Start User Badge */
.user-badge.student {
  --decoration-color: var(--decoration-color-1);
}

.user-badge.instructor {
  --decoration-color: var(--decoration-color-2);
}

.user-badge.admin {
  --decoration-color: var(--decoration-color-3);
}

.user-badge .letter {
  background-color: var(--decoration-color);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-circle);
  color: var(--white-color);
  font-size: var(--font-size-18);
  font-weight: bold;
  user-select: none;
}

.user-badge .name {
  font-size: var(--font-size-15);
}

.user-badge .role {
  color: var(--gray-color);
  font-size: var(--font-size-14);
}

/* End User Badge */
/* Start Sub Title */
.sub-title {
  color: var(--gray-color);
  font-size: var(--font-size-15);
  font-weight: normal;
  margin-bottom: 25px;
}

/* End Sub Title */
/* Start Dashboard Page */
.dashboard-page {
  padding: var(--pad-50) var(--pad-20);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* End Dashboard Page */
/* Start Sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 280px;
  padding: var(--pad-30);
  border: var(--light-border);
  border-radius: var(--border-radius-8);
  box-shadow: var(--main-shadow);
  transition: all var(--transition-normal);
}

.sidebar .title .close-btn {
  width: 32px;
  height: 32px;
  transform: translate(15px, -15px);
  display: none;
}

.sidebar .title .close-btn:hover {
  background-color: var(--error-color);
}

.sidebar .links :where(a, .logout-btn) {
  width: 100%;
  padding: 6px 0;
  font-weight: bold;
  transition: color var(--transition-normal);
}

.sidebar .links a:where(.active, :hover) {
  color: var(--primary-color);
}

.sidebar .links .logout-btn:hover {
  color: var(--error-color);
}

@media (max-width:991px) {
  .sidebar {
    min-height: 100vh;
    border: none;
    border-radius: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--popups-z-index);
    /* HIDE */
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }

  .sidebar.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0) !important;
  }

  .sidebar .title .close-btn {
    display: flex;
  }
}

/* End Sidebar */
/* Start Side Container */
.side-container {
  width: calc(100% - 300px);
  flex-grow: 1;
}

.side-container.is-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 20px;
}

@media (max-width: 899px) {
  .side-container.is-grid {
    grid-template-columns: 1fr;
  }

  .side-container.is-grid>div {
    grid-column-end: span 1 !important;
    grid-row-end: span 1 !important;
  }
}

/* End Side Container */
/* Start Widget */
.widget {
  background-color: var(--white-color);
  padding: var(--pad-30);
  border: var(--light-border);
  border-radius: var(--border-radius-8);
}

.widget .user-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.widget .user-details-wrapper .box:not(.img-container) {
  flex-grow: 1;
}

.widget .user-details-wrapper .img-container {
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius-circle);
}

.widget .user-details-wrapper .img-container img {
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.widget .user-details-wrapper .data-txt {
  display: block;
  margin-top: 5px;
  color: var(--gray-color);
  font-size: var(--font-size-14);
}

.widget .quick-access-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.widget .quick-access-btns .quick-access-btn {
  flex-grow: 1;
  padding: 15px;
  border-radius: var(--border-radius-4);
  color: var(--white-color);
  font-weight: bold;
  transition: all var(--transition-normal);
}

.widget .quick-access-btns .quick-access-btn:first-child {
  background-color: var(--decoration-color-1);
}

.widget .quick-access-btns .quick-access-btn:nth-child(2) {
  background-color: var(--decoration-color-2);
}

.widget .quick-access-btns .quick-access-btn:nth-child(3) {
  background-color: var(--decoration-color-3);
}

.widget .quick-access-btns .quick-access-btn:last-child {
  background-color: var(--decoration-color-4);
}

.widget .quick-access-btns .quick-access-btn:hover {
  opacity: .8;
  box-shadow: var(--main-shadow);
  transform: translateY(-10px);
}

@media (max-width:767px) {
  .widget {
    padding: var(--pad-20);
  }
}

/* End Widget */
/* Start Popup */
.swal2-container {
  z-index: var(--popups-z-index);
}

.swal2-confirm {
  background-color: var(--primary-color);
  transition: all var(--transition-normal);
}

.swal2-confirm:hover {
  background-color: var(--primary-color);
}

.swal2-cancel {
  background-color: var(--gray-color);
  transition: all var(--transition-normal);
}

.swal2-cancel:hover {
  background-color: var(--gray-color);
}

:where(.swal2-confirm, .swal2-cancel):hover {
  opacity: .8;
}

/* End Popup */
/* Start Empty Paragraph */
.empty-paragraph {
  color: var(--error-color);
  font-weight: bold;
}

/* End Empty Paragraph */
/* Start View All Link */
.view-all-link {
  display: block;
  width: fit-content;
  margin-top: 20px;
  font-size: var(--font-size-15);
  font-weight: bold;
  position: relative;
  transition: color var(--transition-normal);
}

.view-all-link:hover {
  color: var(--secondary-color);
}

.view-all-link::before {
  content: "";
  background-color: var(--secondary-color);
  width: 0;
  height: 2px;
  border-radius: var(--border-radius-8);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width var(--transition-normal);
}

.view-all-link:hover::before {
  width: 100%;
}

/* End View All Link */
/* Start Row Box */
.row-box {
  font-size: var(--font-size-14);
}

.row-box .icon {
  color: var(--primary-color);
  font-size: var(--font-size-20);
  width: 20px;
}

.row-box .content {
  width: calc(100% - 30px);
}

/* End Row Box */
/* Start Message Box */
.message-box {
  flex-wrap: wrap;
}

.message-box .img-container {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-circle);
}

.message-box .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-box .content {
  /* width: calc(100% - 50px); */
  font-size: var(--font-size-14);
}

.message-box .content p {
  color: var(--gray-color);
  margin-top: 6px;
}

/* End Message Box */
/* Start Responsive Table */
.responsive-table {
  overflow-x: auto;
}

.responsive-table .sub-title {
  position: sticky;
  left: 0;
}

.responsive-table table {
  min-width: 1000px;
  width: 100%;
}

/* End Responsive Table */
/* Start Search Bar */
.search-bar {
  width: 220px;
  position: relative;
}

.search-bar input {
  background-color: var(--white-color);
  display: block;
  width: 100%;
  padding: 10px 10px 10px var(--pad-30);
  border: var(--light-border);
  border-radius: 25px;
  color: inherit;
  font-size: var(--font-size-14);
  caret-color: var(--primary-color);
  transition: border-color var(--transition-normal);
}

.search-bar input:focus {
  border-color: var(--primary-color);
}

.search-bar .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: color var(--transition-normal);
}

.search-bar:has(input:focus) .icon {
  color: var(--primary-color);
}

/* End Search Bar */
/* Start Sort Bar */
.sort-bar {
  background-color: var(--primary-color);
  width: 160px;
  position: relative;
  color: var(--white-color);
}

.sort-bar select {
  display: block;
  width: 100%;
  padding: 10px var(--pad-30) 10px 10px;
  font-size: var(--font-size-14);
  font-weight: bold;
}

.sort-bar select option {
  color: var(--black-color);
}

.sort-bar .icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.sort-bar:has(select.opened) .icon {
  transform: translateY(-50%) rotate(180deg);
}

/* End Sort Bar */
/* Start Main Heading Wrapper */
.main-heading-wrapper {
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}

.main-heading-wrapper .main-heading {
  margin-bottom: 0;
}

/* End Main Heading Wrapper */
/* Start Main Table */
.main-table {
  border-spacing: 0;
}

.main-table tr:nth-child(even) {
  background-color: var(--decoration-color-1);
}

.main-table tbody td {
  min-width: 240px;
  border: none;
  padding: 20px;
  font-size: var(--font-size-15);
  text-align: center;
}

.main-table tbody td a {
  justify-content: center;
  font-size: var(--font-size-14);
  font-weight: bold;
  transition: color var(--transition-normal);
}

.main-table tbody td a:hover {
  color: var(--primary-color);
}

.main-table tbody td .status {
  background-color: var(--decoration-color-2);
  padding: 6px 15px;
  border-radius: 30px;
  color: var(--gray-color);
  font-size: var(--font-size-14);
  font-weight: bold;
}

.main-table .empty-paragraph {
  margin: 20px 0;
}

/* End Main Table */