* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --light-gray-color: #f3f4f6;
  --black-color: #333;
  --white-color: #fff;
  --gray-color: #6b7280;
  --decoration-color-1: #8ce4ff;
  --decoration-color-2: #feee91;
  --decoration-color-3: #ffa239;
  --decoration-color-4: #ff5656;
  --decoration-color-5: #feffe6;
  --error-color: #ef5350;
  --success-color: #4caf50;
  --pending-color: #ffda00;
  /* Font Sizes */
  --font-size-52: 52px;
  --font-size-40: 40px;
  --font-size-32: 32px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-15: 15px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  /* Line Hights */
  --main-line-height: 1.6;
  --small-line-height: 1.4;
  /* Paddinds */
  --pad-120: 120px;
  --pad-100: 100px;
  --pad-80: 80px;
  --pad-60: 60px;
  --pad-50: 50px;
  --pad-40: 40px;
  --pad-30: 30px;
  --pad-20: 20px;
  /* Borders */
  --light-border: 1px solid #e5e7eb;
  /* Border Radius */
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-circle: 50%;
  /* Box Shadows */
  --main-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  /* Layers */
  --page-loader-z-index: 9999;
  --popups-z-index: 9998;
  --overlay-z-index: 9997;
  --z-index-2: 2;
  --z-index--1: -1;
  /* Transitions */
  --transition-normal: 0.5s;
  --transition-very-fast: 0.15s;
  --transition-fast: 0.3s;
  --transition-slow: 1s;
  --transition-very-slow: 2s;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--white-color);
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}


body {
  color: var(--black-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body:has(.open),
body:has(.page-loader) {
  overflow-y: hidden;
}

body::before {
  content: "";
  background-color: var(--black-color);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--overlay-z-index);
  /* HIDE */
  opacity: 0;
  pointer-events: none;
}

body:has(.open)::before {
  opacity: .4;
  pointer-events: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: inherit;
  user-select: none;
}

ul {
  list-style: none;
}

:where(input, button, textarea, select) {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.icon {
  pointer-events: none;
}

thead {
  color: var(--gray-color);
  text-align: center;
}

thead td {
  padding: 10px;
  border-left: 1px solid var(--gray-color);
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

thead td:last-child {
  border-right: 1px solid var(--gray-color);
}